<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite preserve-order="false" name="Saarthi Test">
  <test preserve-order="true" thread-count="3" name="AuthLoginTest">
    <classes>
      <class name="com.Saarthi.Saarthi">
		  <methods>
			  <include name="AdminTestLogin1"/>
			  <include name="AdminTestLogin2"/>
			   <include name="AdminLogin"/>
		  </methods>
	  </class>
    </classes>
  </test>
  <test preserve-order="true" thread-count="3" name="AddAccountTest">
    <classes>
      <class name="com.Saarthi.Saarthi">
		  <methods>
			   <include name="AdminLogin"/>
			   <include name="MoveToDeo"/>
			   <include name="AddDeo"/>
			   <include name="MoveToHome"/>
			   <include name="LogOut"/>
			   <include name="DeoTestLogin"/>
		  </methods>
	  </class>
    </classes>
  </test>
  <test preserve-order="true" thread-count="3" name="AddDocTest">
    <classes>
      <class name="com.Saarthi.Saarthi">
		  <methods>
			   <include name="AdminLogin"/>
			   <include name="MoveToDoc"/>
			   <include name="AddDoc"/>
			   <include name="MoveToHome"/>
		  </methods>
	  </class>
    </classes>
  </test>  
  <test preserve-order="true" thread-count="3" name="AddRefugeeTest">
    <classes>
      <class name="com.Saarthi.Saarthi">
		  <methods>
			   <include name="AdminLogin"/>
			   <include name="moveToRefugeeForm"/>
			   <include name="AddRefugee"/>
			   <include name="moveToViewDetails"/>
			   <include name="viewRefugeeDetails"/>
		  </methods>
	  </class>
    </classes>
  </test>  
  <test preserve-order="true" thread-count="3" name="AddMedicineTest">
    <classes>
      <class name="com.Saarthi.Saarthi">
		  <methods>
			   <include name="AdminLogin"/>
			   <include name="moveToAddMedicinePage"/>
			   <include name="addMedicine"/>
			   <include name="moveToViewDetails"/>
			   <include name="viewRefugeeDetails"/>
		  </methods>
	  </class>
    </classes>
  </test>  
  <!-- Test -->
</suite> <!-- Suite -->
